@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #0f172a; /* Slate 900 */
  color: #f8fafc; /* Slate 50 */
  overflow: hidden;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  background-color: #0f172a;
}
